.paymentWrapper{
    width: 730px;
    padding: 40px 0px 30px 30px;

    background: #F1F2F5;
    border-radius: 6px;
}

.title{
    margin-bottom: 20px;

    font-size: 28px;
    font-weight: 600;
    color: #FF2E65;
}

.payment{
    display: flex;
    flex-direction: column;
    gap: 14px;
    margin-bottom: 30px;
}

.paymentItem{
    display: flex;
    align-items: center;
    gap: 10px;

    font-size: 18px;
    font-weight: 600;
    color: #213134;
}

.change{
    display: flex;
    align-items: center;
    gap: 24px;

    font-size: 15px;
    font-weight: 700;
    color: #231F20;
    opacity: 0.7;
}

.changeInput{
    width: 110px;
    padding: 10px 10px;

    background: #FFFFFF;
    border: 1.5px solid #E2E2E9;
    border-radius: 7px;
    outline: none;
}